*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F1EE;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #A8D8EA;
}

span{
    font-size:2rem;
}

a:visited{
    color: transparent;
}

a{
    text-decoration: none;
}

.fotoMain{
    margin: 50px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loremMain{
    text-align: center;
    margin: 20px;
    display: inline;
}

footer h5{
    text-align: center;
    margin-top: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

main .recetas{
    margin: 2rem;
    padding: 2rem;
}

main div span{
    display: block;
    text-align: center;
    margin-top: 3rem;
}


/*
main div .imgNosotros{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 500px;
    height: 300px;
}
*/

.mainForm{
    text-align: center;
}

.frutas, .verduras{
    background-color: #EEEEEE;
}

.verduras{
    display: block;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

section .imgCenter img{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

section .imgCenter{
    text-align: center;
}

section div .precioFrutas{
    font-weight: bold;
    color: #000000;
}

section div .fontKilo{
    color: #8785A2;
    font-weight: bolder;
}

h2{
    text-align: center;
    align-self: center;
}

.sectionContacto{
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 0 450px; }
    .sectionContacto label {
        font-weight: bold; }

main div img{
    margin-top: 3rem;
}